# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
wheelhouse/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml

# Django
*.log
local_settings.py
db.sqlite3

# Flask / FastAPI
instance/
*.db
*.sqlite

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm / VSCode
.idea/
.vscode/

# MyPy / Pyre / Pytype
.mypy_cache/
.dmypy.json

